 
Lesson_8.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Lesson_8.xcodeproj/project.xcworkspace/xcuserdata/mariaderkach.xcuserdatad/UserInterfaceState.xcuserstate
Lesson_8.xcodeproj/project.xcworkspace/contents.xcworkspacedata
Lesson_8.xcodeproj/xcuserdata/mariaderkach.xcuserdatad/xcschemes/xcschememanagement.plist
